*{
    margin:0;
    padding: 0;
}
.header{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: capitalize;
}
.logo{
    height: 48px;
    padding: 2px 10px;
}
.icon-bar{
    background: darkorange;
}
li a{
    color:green;
}
.big-text{
    font-size: 52px;
    margin: 20px 0;
    color: gray;
}
a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;

}
a.btn-first{
    background-color: orchid;
    color: tomato;
    background: transparent;
    border: 2px solid;

}
a.btn-second{
    background: transparent;
    border: 2px solid;
    color:tomato;
}
a.btn:hover{
    background: turquoise;
    border: none;
    color: yellowgreen;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}