   body{
      background-color: skyblue;
   }
   .container{
    width:72%;
    height:70%;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    box-shadow:2px 2px 30px gray;
    border-radius:20px;
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: url("back.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
   }

   .sign-up{
    width:50%;
    display:flex;
    flex-direction:column;
    align-items: center;
    }
   .heading{
    font-family:calibri;
    color: black;
   }
   .text{
    width:350px;
    height:50px;
    box-shadow:2px 6px 18px blue;
    border-radius: 30px;
    display:flex;
    align-items:center;
    margin:10px;
   }
   .text input{
    height:40px;
    width:80%;
    outline:none;
    border:none;
    font-size:14px;
    margin:5px;
    background:#FFFFFF ;
   }
   .text img{
    margin-left:20px; 
   }
   button{
    width:200px;
    height:40px;
    outline:none;
    border:none;
    border-radius:20px;
    background: #7d22e3;
    box-shadow:2px 6px 16px blue;
    color:#FFFFFF;
    letter-spacing:1px;
   }
   
